* {
  box-sizing: border-box;
}

#root {
  width: 100%;
}

.menu-icon {
  margin: 0.5rem;
  font-size: 1.5rem;
}

.menu-drawer {
  width: 4rem;
  min-height: 100vh;
  padding-top: 1rem;
  background-color: rgb(255, 255, 255);
  box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.45);
  transition: width 0.2s ease-in-out;
}

.menu-drawer.is-open {
  width: 16rem;
}

.menu-heading {
  margin: 1.5rem 0;
  font-size: large;
  font-weight: bold;
  white-space: nowrap;
  overflow: hidden;
}

.menu-items {
  padding: 0;
  overflow: hidden;
}

.menu-item {
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
  list-style-type: none;
  background-color: rgb(255, 255, 255);
}

.menu-icon,
.menu-item {
  cursor: pointer;
}

.menu-heading,
.menu-item {
  padding-left: 1rem;
}

.menu-item:hover {
  background-color: rgb(230, 230, 230);
}

.menu-link,
.menu-link:hover {
  color: inherit;
  text-decoration: none;
  display: flex;
  width: 100%;
}

.menu-link.active {
  background-color: rgb(240, 240, 240);
}

.item-icon {
  width: 1.1rem;
  margin: 0.3rem;
  display: inline-block;
}
