.container {
  width: 600px;
  margin: auto;
}

h3 {
  font-family: 'Brandon Grotesque', sans-serif;
  color: orangered;
}

label {
  font-family: AtlasGrotesk, sans-serif;
  color: darkblue;
  padding-left: 10px;
  padding-bottom: 2px;
  padding-top: 2px;
}

input {
  border-radius: 6px;
  border-color: antiquewhite;
  margin: 5px;
  width: 300px;
}

#engineers {
  width: 300px;
  border-radius: 6px;
  border-color: antiquewhite;
  margin: 5px;
}
