/*
Select the body and give it a color of #090302 and a font-family of sans-serif.
Select all article elements and give them:
A padding-left and padding-right of 16px.
A border of 1px solid.
A border-radius of 6px.
A margin-bottom of 16px. */
body {
  font-family: sans-serif;
  color: #090302;
}

h1 {
  text-align: center;
}

article {
  padding-right: 16px;
  padding-left: 16px;
  border: solid 1px;
  border-radius: 6px;
  margin-bottom: 16px;
}

/* Select all elements with the class attribute of "title" and give them a font-family of monospace and a font-size of 24px. */

.title {
  font-family: monospace;
  font-size: 24px;
}

/* Select the heading with the id attribute of "html" and give it the color of red.
Select the heading with the id attribute of "css" and give it the color of green.
Select the heading with the id attribute of "js" and give it the color of blue. */
#html {
  color: red;
}

#css {
  color: green;
}

#js {
  color: blue;
}
