# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

function addFactory(storedNum ) {

    return function(num2) {

        return storedNum + num2;

 }
}

const add10 = addFactory(10);

const add20 = addFactory(20);
const add30 = addFactory(30);
console.log(add10(5));
 console.log(add20(5))
